body{
	font-family: 'Akaya Kanadaka', cursive;
}
.bg-cust{
	background-color: #ACACAC !important;
}
.navbar-brand h1{
	color: #000;
	font-size: 1.8em;
	font-weight: 900;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 0.75;
}
.navbar-brand{
	margin-left: 20px;
	text-decoration: none;
}
.nav-link{
	text-align: center;	
	margin-top: 3px;
}
.nav-item a:hover{
	font-weight: bolder;
}
.navbar-toggler{
	border: 1px solid !important;
}
.menu h1{
	text-align: center;
	margin-top: 10px;
}
.menu a{
	text-decoration: none;
	color:#000;
}
.menu-items{
	background-color: #ACACAC;
	background: grey;
	padding: 2% ;
	margin:2%;
	width: 94%;
	border-radius: 4px;
}
.menu-items p{
	padding: 3px;
}
.menu-items div:nth-child(1){
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
.menu-items a{
	color:black; 
}
@media (min-width: 769px) and (max-width:991px) {
	.menu-items1{
		margin-left: 1.4%;
		width: 96%;
	}
}

